@model PaginatedList<BooksNew>


<p>
    <a asp-action="Create">Create New</a>
</p>

    <form asp-action="Indexdata"
          data-ajax="true"
          data-ajax-update="#BooksData"
          data-ajax-method="GET">
        <div class="form-actions no-color">
            <p>
              Введіть назву книги <input type="text" name="SearchString" value=@ViewData["CurrentFilter"] />
            <input type="submit" value="Пошук" class="btn btn-primary" /> 
            </p>
        </div>
        <table class="table" id="BooksData">
            @{
                await Html.RenderPartialAsync("Indexdata", Model);
            }
        </table>

    </form>
@section scripts {
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
}
